@charset "UTF-8";

@import url(http://fonts.googleapis.com/css?family=Monda:400,700);
@import url(http://fonts.googleapis.com/css?family=Open+Sans:300);
@import url(http://fonts.googleapis.com/css?family=Exo:300);

/****************/
/* COMMON SETUP */
/****************/

/* main section divs */
div.seccion {
	width:100%;
	position:relative;
}

/* separator inter-section */
.separador {
	width:100%;
	height:8vh;
	background-image:url(../img/mapafondotres.jpg);
	position:relative;
	background-attachment:fixed;
	background-size:cover;
	opacity:0.8;
	text-align:center;
	padding-top:2vh;
	padding-bottom: 2vh;
	font-size:36px;
	color:rgb(0,36,168);
	font-weight:bold;;
	line-height:1.1;
	}

/* min-height to override in responsive.css */
.blank_wide {
	background-image:url(../img/crossword.png);
	min-height:150px;
}

/* min-height to override in responsive.css */
.blank_narrow {
	background-image:url(../img/crossword.png);
	min-height:75px;
}

* {
	margin:0px;
	padding:0px;
	font-family:'Open Sans';
	line-height:1.1;
}

a:focus {
	outline:0;
}

button:focus {
	outline:0;
}

a {
	cursor:pointer;
}

button {
	cursor:pointer;
}

a.cambio-idioma {
	display:block;
	float:left;
	cursor:pointer;
}

p.title {
	height: auto;
	color:rgb(0,36,168);
}

p.texto {
	font-size: 18px;
	line-height: 1.5;
}

.action-button {
	font-size: 20px;
}

/****************/
/* HEADER */
/****************/

header {
	position:fixed;
	top:0px;
	width:100%;
	height:50px;
	background-color:rgb(0,36,168);
	z-index:2;
}

img#logo {
	position:relative;
	margin-left:10px;
}

nav#menu {
	position:absolute;
	right:20px;
	top:0px;
}

ul#lista-menu {
	position:relative;
	list-style-type:none;
	float:left;
	height:50px;
	width:auto;
}

ul#lista-menu li {
	position:relative;
	float:left;
	padding-left:20px;
	height:35px;
	padding-top:15px;
	color:#ffffff;
	font-family:'Exo';
	padding-right:20px;
}

ul#lista-menu li:hover {
	background-color:rgb(100,100,100);
}

ul#lista-menu li#lista-idiomas {
	position:relative;
	width:40px;
	margin-left:60px;
	font-family:'Open Sans';
}

ul#menu-idiomas {
	width:60px;
	position:relative;
	right:20px;
	height:auto;
	list-style-type:none;
	display:none;
	background-color:rgb(0,36,168);
	margin-top:17px;
}

li#lista-idiomas:hover > ul#menu-idiomas{
	display:block;
}

ul#menu-idiomas li {
	width:60px;
	background-color:rgb(0,36,168);
	font-size:14px;
	font-family:'Open Sans';
	padding-bottom:10px;
	height:20px;
}

img#flechita {
	position:absolute;
	right:15px;
	width:20px;
	height:30px;
	bottom:10px;
}

a.menuRef {
	text-decoration:none;
	color:#ffffff;
	font-family:'Exo';
}

/* SEPARADOR 1 */
div#separador-1 {
	background-color:rgb(160,160,160);
	background-image:none;
}

p#separador-1 {
	margin: 1% 0;
	color:#ffffff;
}

/***********/
/* PORTADA */
/***********/

div.seccion#portada {
	background-image:url(../img/banner.jpg);
	background-size:cover;
	height:100vh;
	min-height:800px;
}

	div#fondo-azul {
		position:absolute;
		width:100%;
		height:100%;
		background-color:rgb(0,36,168);
		opacity: 0.2;
    filter: alpha(opacity=20);
	}

	div#logo-eslogan {
		position:relative;
		width:50%;
		height:auto;
		left:5%;
		padding-top:10%;
	}

	img#logo-portada {
		display: block;
		margin-left: 1%;
		margin-bottom: 1%;
		height: auto;
		width: 50%;
	}

	p#logo-eslogan-1 {
		position:relative;
		height:auto;
		font-size:70px;
		color:#ffffff;
		font-family:'Open Sans';
		text-align:left;
		font-weight:normal;
		opacity:0.8;
	}

	p#logo-eslogan-2 {
		position:relative;
		height:auto;
		font-size:30px;
		color:#ffffff;
		font-family:'Open Sans';
		text-align:left;
		font-weight:normal;
		padding-top: 20px;
		opacity:0.8;
	}

	#logo-call-to-action {
		position:relative;
		padding-top:17px;
		margin-top: 35px;
		height:33px;
		border-style:solid;
		border-color:#ffffff;
		border-width:1px;
		border-radius:25px;
		display:block;
		text-decoration:none;
		font-family:'Exo';
		background-color:transparent;
		width:60%;
		text-align:center;
		color:#ffffff;
	}

	#logo-call-to-action:hover {
		background-color:#ffffff;
		color:rgb(100,100,100);
		transition: all 0.5s;
	}

	/*********************/
	/* SECTION INVENTRIP */
	/*********************/

		.seccion#inventrip {
			min-height:80vh;
			background-image:url(../img/crossword.png);
		}

		#img-inventrip {
			float: left;
			margin-left:10%;
			margin-top:75px;
			width:50%;
			height:auto;
		}

		#cont-inventrip {
			float: right;
			padding: 90px 10% 0 10%;
			width:20%;
			height:auto;
			text-align: center;
		}

		#logo-inventrip {
			float:left;
			width:70px;
			height:70px;
			border-radius:120px;
			/* box-shadow:5px 5px 10px #000000; felipe: optional */
		}

		#title-inventrip {
			height:auto;
			font-size:36px;
		}

		#eslogan-inventrip {
			margin-bottom:25px;
			height:auto;
			font-size:18px;
			font-weight:bold;
			line-height:1.5;
		}

		#text-inventrip {
			padding: 20px 0 20px 0;
		}

		#inventrip-call-to-action {
			padding-top:17px;
			margin-top: 5%;
			height:33px;
			border-style:solid;
			border-color:rgb(0,36,168);
			border-width:1px;
			border-radius:25px;
			display:block;
			text-decoration:none;
			font-family:'Exo';
			background-color:transparent;
			font-size:16px; /* class std 20px too high */
			color:rgb(0,36,168);
		}

		#inventrip-call-to-action:hover {
			background-color:rgb(0,36,168);
			color:#ffffff;
			transition: all 0.5s;
		}

		/* SEPARADOR 2 */
		p#separador-2 {
			margin: 1% 0;
		}


/************************/
/* SECTION TECHNOLOGIES */
/************************/

	.seccion#tecnologias {
		min-height:150vh;
		/* min-height:1300px; */ /* before 1600px */
		background-image:url(../img/crossword.png);
	}

	div.tecnol {
		position:relative;
		float:left;
		margin-left:8%; /* before 10% , corrige descuadre Manuel */
		margin-top:6%;
		width:23%; /* before 20%, corrige descuadre Manuel */
		height:500px;
		text-align: center;
	}

	img.img-tecnol {
		position:relative;
		width:50%;
		height:auto;
		margin: 0 auto;
	}

	p.titulo-tecnol {
		font-size:36px;
		font-family:'Monda';
		color:rgb(0,36,168);
		margin-top:15px;
		margin-bottom:15px;
		min-height: 80px;
	}

	p.texto.t-tecno {
		height:160px;
	}

	button.mas-info {
		width:80%;
		height:50px;
		border-style:solid;
		border-color:rgb(0,36,168);
		background-color: transparent;
		border-width:1px;
		border-radius: 25px;
		color:rgb(0,36,168);
		font-family:'Exo';
		font-size:16px;
	}

	button.mas-info:hover {
		background-color: rgb(0,36,168);
		color:#ffffff;
		transition: all 0.5s;
	}

	/* SEPARADOR 1 */
	div#separador-3 {
		background-color:rgb(160,160,160);
		background-image:none;
	}

	p#separador-3 {
		margin: 1% 0;
		color:#ffffff;
	}

/*********************/
/* SECTION NEWS */
/*********************/

	.seccion#noticias {
		min-height: 75vh;
		background-image:url(../img/crossword.png);
	}

	#img-noticias {
		float: left;
		margin-left:10%;
		margin-top:75px;
		width:50%;
		height:auto;
		box-shadow: 2px 2px 2px #aaaaaa;
	}

	#cont-noticias {
		float: right;
		padding: 75px 10% 0 10%;
		width:20%;
		height:auto;
		text-align: center;
	}

	#title-noticias {
		margin-bottom: 20px;
		height:auto;
		font-size:24px;
	}

	#text-noticias {
		margin-bottom:25px;
		height:auto;
	}

	#ver-mas-noticias{
		height:50px;
		border-style:solid;
		border-color:rgb(0,36,168);
		border-width:1px;
		border-radius: 25px;
		display:block;
		text-decoration:none;
		font-family:'Exo';
		background-color:transparent;
		color:rgb(0,36,168);
		width:100%;
	}

	#ver-mas-noticias:hover{
		background-color:rgb(0,36,168);
		color:#ffffff;
		transition: all 0.5s;
	}

/*********************/
/* SECTION STAFF     */
/*********************/

	.seccion#staff {
		background-image:url(../img/crossword-gris.png);
		padding-bottom: 100px;
		text-align:center;
	}

	#title-staff {
		padding-top:50px;
		font-size:42px;
		font-family: 'Monda';
	}

	#contenedor-staff {
		position:relative;
		width:560px;
		height:150px;
		padding-top:3%;
		left:50%;
		margin-left:-250px;
	}

	div.content-staff {
		position:relative;
		float:left;
		width:120px;
		height:120px;
		margin:10px;
	}

	/* team pictures */
	div.content-staff#c-augusto{background-image:url(../img/staff/augusto.png);}
	div.content-staff#c-manolo{background-image:url(../img/staff/manuel.png);}
	div.content-staff#c-julio{background-image:url(../img/staff/julio.png);}
	div.content-staff#c-felipe{background-image:url(../img/staff/felipe.png);}

	/* blue artifact on hover to show team position */
	div.content-staff:hover{background-position:0px -120px;}

/*********************/
/* SECTION CONTACT   */
/*********************/

	.seccion#contacto {
		padding-top: 80px;
		background-image:url(../img/classy_fabric.png);
		text-align: center;
	}

	a#contactanos {
		display:block;
		margin: auto;
		padding-top:17px;
		height:33px;
		border-style:solid;
		border-color:#ffffff;
		border-width:1px;
		border-radius:25px;

		text-decoration:none;
		font-family:'Exo';
		background-color:transparent;
		width:250px;
		font-size:16px;
		text-align:center;
		color:#ffffff;
	}

	a#contactanos:hover{
		background-color:#ffffff;
		color:rgb(100,100,100);
		transition: all 0.5s;
	}

	div#rrss {
		position:relative;
		width:190px;
		height:40px;
		left:50%;
		margin-left:-95px;
		margin-top:100px;
	}

	a#linkedin{position:relative; width:40px; height:40px; margin-right:10px; float:left; background-image:url(../img/logo-linkedin.png);}
	a#linkedin:hover{background-color:rgb(0,36,168);}
	a#twitter{position:relative; width:40px; height:40px; margin-right:10px; float:left; background-image:url(../img/logo-twitter.png);}
	a#twitter:hover{background-color:rgb(0,36,168);}
	a#youtube{position:relative; width:40px; height:40px; margin-right:10px; float:left; background-image:url(../img/logo-youtube.png);}
	a#youtube:hover{background-color:rgb(0,36,168);}
	a#github{position:relative; width:40px; height:40px; float:left; background-image:url(../img/logo-github.png);}
	a#github:hover{background-color:rgb(0,36,168);}

	table#lista-contacto{
		position:relative;
		height:auto;
		margin:50px auto;
	}

	/* contact-countries */
	td.lista-pais{
		position:relative;
		float:left;
		padding:50px;
	}

	p.pais{
		color:#ffffff;
		font-size:16px;
		font-family:'Open Sans';
		text-transform:uppercase;
	}

	hr.barra-pais{
		background-color:#ffffff;
		margin-top:5px;
		margin-bottom:5px;
		width:130px;
	}

	p.telefono{
		color:#ffffff;
		font-family:'Open Sans';
		font-size:14px;
		line-height:1.5;
	}

	a.email{
		color:white;
		font-family:'Open Sans';
		font-size:14px;
		line-height:1.5;
		text-decoration:none;
	}

	p#copyright{
		position:relative;
		width:300px;
		height:30px;
		left:50%;
		margin-left:-150px;
		bottom:0px;
		text-align:center;
		font-size:12px;
		color:#ffffff;
	}
