@import url(http://fonts.googleapis.com/css?family=Monda:400,700);
@import url(http://fonts.googleapis.com/css?family=Open+Sans:300);
@import url(http://fonts.googleapis.com/css?family=Exo:300);



*{font-family: 'Open Sans', sans-serif;}
*{margin:0px; padding:0px;}

html, body{
	margin: 0px;
	padding: 0px;
	background-image:url();
}

.smt-logo-menu{
	height:50px;
	width:auto;
	position:absolute;
	top:0px;
}

.smt-logo-return{
	height:25px;
	width:auto;
	position:absolute;
	right:15px;
	top:10px;
	}

button.ng-binding{
	width:250px;
	height:50px;
	background-color:transparent;
	color:rgb(0,36,168);
	border-style:solid;
	border-width:1px;
	border-color:rgb(0,36,168);
	font-family:'Exo';
	font-size:16px;
	text-transform:uppercase;
	}

button.ng-binding:hover{
	background-color:rgb(0,36,168);
	color:#ffffff;
	transition: all 0.5s ease;
	}

p.ng-binding{font-size:16px;}


/*************************************************************************/
/* TECNOLOGIES PROPERTIES*/
/*************************************************************************/

.smt-tecno-content{
	padding-left: 0px;
	padding-right: 0px;
	height: 100vh;
}

.smt-carousel{
	/*padding-top: 52px;*/
/*	height: 100vh; trouble, creates artificial scroll in mobile phones*/
}

.smt-item{
	height: inherit;
}

.smt-content-item-img{
	height: 65vh; /* before 55vh not enough height // even before 70vh, broken photos and need to scroll */
	margin-right: 0px;
	margin-left: 0px;
}

.smt-content-item-text{
	padding-top: 3vh; /* before 7vh, too much white space on mobile phones*/
	text-align: center;
	margin-right: 0px;
	margin-left: 0px;
}

.smt-item-content{
	height: inherit;
}

.smt-item-content p{
	font-size:16px;
	font-family:'Open Sans';
	line-height:1,5;
	/*color: #FFFFFF;*/
}

.smt-item-button{
	text-align: center;
}


div#fondo-drontrip{
	background-image:url(../img/fondo-drontrip.png);
	background-size:cover;
	-webkit-background-size:cover;
	-moz-background-size:cover;
	-o-background-size:cover;
	-ms-background-size:cover;
	-khtml-background-size:cover;
	height:100%;
}

.smt-item-text{
	padding-top: 0px;
}

.smt-item-text h2{
	margin-top: 0px;
	font-size:36px;
	font-family:'Monda';
	font-weight:lighter;
	color:rgb(0,36,168);
}

.smt-item-button{
	padding-top: 2vh;
}


.smt-item-bottom{
	position: absolute;
	bottom: 20vh;
	width: 100%;
}

#btnDronTrip1{
	bottom: 0px;
}

.owl-pagination{
	visibility:  hidden;
}

/*************************************************************************/
/*	DRONTRIP PAGE */
/*************************************************************************/

.smt-drontrip-title{
	padding-top: 52px;
}

.smt-drontrip-content p{
	padding-top: 25px;
}

#smt-dron-img1{
	background-image:url(../img/drontripEscenario.jpg);
	background-size:cover;
	-webkit-background-size:cover;
	-moz-background-size:cover;
	-o-background-size:cover;
	-ms-background-size:cover;
	-khtml-background-size:cover;
	background-position: center;
}

/*************************************************************************/
/* NFC PAGE */
/*************************************************************************/

#smt-nfc-ibiza-img{
	background-image:url(../img/nfc_ibiza.jpg);
	background-size:cover;
	/* background-position: 0px -130px; TEST TO FIX RESPONSIVE*/
	-webkit-background-size:cover;
	-moz-background-size:cover;
	-o-background-size:cover;
	-ms-background-size:cover;
	-khtml-background-size:cover;
	background-position: center;
}

#smt-nfc-palencia-img{
	background-image:url(../img/InventripPalencia.jpg);
	background-size:cover;
	-webkit-background-size:cover;
	-moz-background-size:cover;
	-o-background-size:cover;
	-ms-background-size:cover;
	-khtml-background-size:cover;
	background-position: center;
}

#smt-nfc-croacia-img{
	background-image:url(../img/nfc-croacia.jpg);
	background-size:cover;
	/* background-position: 0px -130px; TEST TO FIX RESPONSIVE*/
	-webkit-background-size:cover;
	-moz-background-size:cover;
	-o-background-size:cover;
	-ms-background-size:cover;
	-khtml-background-size:cover;
	background-position: center;
}



/*************************************************************************/
/* SIGNAGE PAGE */
/*************************************************************************/

#smt-sen-img1{
	background-image:url(../img/barcelonasen.jpg);
	background-size:cover;
	-webkit-background-size:cover;
	-moz-background-size:cover;
	-o-background-size:cover;
	-ms-background-size:cover;
	-khtml-background-size:cover;
	background-position: center;
}

#smt-sen-img2{
	background-image:url(../img/senCastillaLeon.jpg);
	background-size:cover;
	-webkit-background-size:cover;
	-moz-background-size:cover;
	-o-background-size:cover;
	-ms-background-size:cover;
	-khtml-background-size:cover;
	background-position: center;
}

#smt-sen-img3{
	background-image:url(../img/senRibera.jpg);
	background-size:cover;
	-webkit-background-size:cover;
	-moz-background-size:cover;
	-o-background-size:cover;
	-ms-background-size:cover;
	-khtml-background-size:cover;
	background-position: center;
}

/*************************************************************************/
/* QR PAGE */
/*************************************************************************/

#smt-qr-img1{
	background-image:url(../img/normandia-dos.jpg);
	background-size:cover;
	-webkit-background-size:cover;
	-moz-background-size:cover;
	-o-background-size:cover;
	-ms-background-size:cover;
	-khtml-background-size:cover;
	background-position: center; /* -320px; */
	background-repeat:no-repeat;
}

#smt-qr-img2{
	background-image:url(../img/qrbarcelona.jpg);
	background-size:cover;
	-webkit-background-size:cover;
	-moz-background-size:cover;
	-o-background-size:cover;
	-ms-background-size:cover;
	-khtml-background-size:cover;
	background-position: center;
	background-repeat:no-repeat;
}

/*************************************************************************/
/* BEACONS PAGE */
/*************************************************************************/

#smt-banner-img1{
	background-image:url(../img/Palencia2.jpg);
	background-size:cover;
	-webkit-background-size:cover;
	-moz-background-size:cover;
	-o-background-size:cover;
	-ms-background-size:cover;
	-khtml-background-size:cover;
	background-position: center;
}

#smt-banner-img2{
	background-image:url(../img/Palencia2.jpg);
	background-size:cover;
	-webkit-background-size:cover;
	-moz-background-size:cover;
	-o-background-size:cover;
	-ms-background-size:cover;
	-khtml-background-size:cover;
	background-position: center;
}

/*************************************************************************/
/* E-COMMERCE PAGE */
/*************************************************************************/

#smt-ecommerce-img1{
	background-image:url(../img/e_commerce.png);
	background-size:cover;
	-webkit-background-size:cover;
	-moz-background-size:cover;
	-o-background-size:cover;
	-ms-background-size:cover;
	-khtml-background-size:cover;
	background-position: center;
}

/*************************************************************************/
/* RESPONSIVE - CUSTOM TEXT PADDING AND SIZE FOR MOBILE PHONES*/
@media all and (max-width: 780px) {
	.smt-content-item-text{
		padding-top: 1vh; /* before 7vh, too much white space on mobile phones*/
		text-align: center;
		margin-right: 0px;
		margin-left: 0px;
	}

	h2 {
		margin-bottom: 0px;
	}

	.smt-item-text h2 {
		font-size: 28px;
	}

	.smt-content-item-img {
		display:block;
		height:40vh; /* limit the photo height to 40% of the screen height */
	}


}
