<!DOCTYPE html>
<html lang="es" ng-app="smtApp" ng-controller="languagesController">
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
<meta http-equiv="Content-Type" content="text/html ; charset=UTF-8" />
<meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0" />

<!-- SEO -->
<title>Sismotur S.L.</title>
<meta name="description" content="Connect your destination with digital tourists." />

<!-- Twitter Card data -->
<meta name="twitter:card" value="Connect your destination with digital tourists.">
<meta name="keywords" content="Tourism signage, Beacons, Eddystone, Inventrip">

<!-- Open Graph data -->
<meta property="og:title" content="Sismotur S.L." />
<meta property="og:url" content="http://www.sismotur.com" />
<meta property="og:image" content="http://www.sismotur.com/img/sismotur-logo-portada.png" />
<meta property="og:description" content="Connect your destination with digital tourists." />

<link rel="shortcut icon" href="img/favicon.png"/>
<link rel="stylesheet" href="css/sismotur.css" />
<link rel="stylesheet" href="css/responsive.css" />

		<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>

      <script src="js/jquery-1.11.1.js"></script>
    	<script src="js/jquery.browser.js"></script>
    	<script src="js/jquery.iframe-auto-height.js"></script>
    	<script src="js/lib/greensock/TweenMax.min.js"></script>
    	<script src="js/bootstrap.js"></script>
    	<script src="js/jquery.scrollmagic.js"></script>
    	<script src="js/jquery.scrollmagic.debug.js"></script>
    	<script src="js/sismotur.js"></script>
    	<script src="js/lib/greensock/TimelineMax.min.js"></script>
    	<script src="js/angular.js"></script>
    	<script src="js/smt-angular.js"></script>

      <script type="text/javascript" src="js/jquery.scrollTo.js"></script>

        <script type="text/javascript">
        $(document).ready(function($){
				if(!isMobile()){
					parallaxBanner();
					opaqueMenu();
					// parallaxSection();

					$(".navbar-nav li a").click(function(event) {
						$(".navbar-collapse").collapse('hide');
					});
				}
			});
      </script>

<!-- GOOGLE ANALYTICS -->
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-65795037-1', 'auto');
  ga('send', 'pageview');
</script>

<!-- SCHEMA.ORG JSON-LD -->
<script type="application/ld+json">
{
  "@context": "http://schema.org",
  "@type": "Organization",
  "url":"http://www.sismotur.com",
  "name": "Sismotur",
  "description": "Connected signage systems.",
  "address": {
    "@type": "PostalAddress",
    "addressLocality": "Madrid",
		"addressCountry": "Spain",
    "postalCode": "28033",
    "streetAddress": "Calle Arturo Soria 327"
  },
  "email": "aramos@sismotur.com",
  "telephone": "+34913238208",
  "logo":"http://www.sismotur.com/img/sismotur-logo-portada.png"
}
</script>
</head>

<body>

<!-- ********************
********* MENU **********
********************* -->

<header>
	<!-- LOGO SISMOTUR -->
  <img id="logo" src="img/logomenu.png" title="Sismotur" alt="Sismotur"/>

	<!-- MENU DE NAVEGACION -->
	<nav id="menu">
  	<ul id="lista-menu">
			<li><a class="menuRef" href="javascript:$.scrollTo('div.seccion#inventrip',1000)">{{inventrip}}</a></li>
			<li><a class="menuRef" href="javascript:$.scrollTo('div.seccion#signing',1000)">{{signingTitle}}</a></li>
			<li><a class="menuRef" href="javascript:$.scrollTo('div.seccion#tecnologias',1000)">{{mnTecno}}</a></li>
			<li><a class="menuRef" href="javascript:$.scrollTo('div.seccion#noticias',1000)">{{mnNoticias}}</a></li>
      <li><a class="menuRef" href="javascript:$.scrollTo('div.seccion#staff',1000)">{{mnTeam}}</a></li>
      <li><a class="menuRef" href="javascript:$.scrollTo('div.seccion#contacto',1000)">{{mnCont}}</a></li>

			<!-- LISTA DE IDIOMAS -->
      <li id="lista-idiomas"> {{mnIdioma}} <img id="flechita" src="img/flechita.png" />
        <ul id="menu-idiomas">
          <li><a class="cambio-idioma" ng-click="changeLang('ca')">Catalá</a></li>
          <li><a class="cambio-idioma" ng-click="changeLang('en')">English</a></li>
          <li><a class="cambio-idioma" ng-click="changeLang('es')">Español</a></li>
          <li><a class="cambio-idioma" ng-click="changeLang('fr')">Français</a></li>
      	</ul>
      </li>
    </ul>
  </nav>
</header>

<!-- ************************
********* PORTADA **********
************************* -->

<div id="parallaxTrigger">
<div class="seccion" id="portada">
<div id="fondo-azul"></div>
	<div id="logo-eslogan">
		<img id="logo-portada" src="img/logo-sismotur-fit.png" title="Sismotur S.L." alt="Sismotur S.L." />
    <p id="logo-eslogan-1">{{claim1}}</p>
		<p id="logo-eslogan-2">{{claim2}}</p>
		<a class="action-button" id="logo-call-to-action" href="mailto:contacto@sismotur.com" title="contacto" alt="contacto">{{btnMuestra}}</a>
	</div>
</div>

</div>
<div id="menuTrigger"></div>

<!-- ************************
********* INVENTRIP *********
************************* -->
<div class="separador" id="inventrip">
	<p>{{dividerInventrip}}</p>
</div>

<div class="seccion" id="inventrip">

	<!-- PC/tablet image -->
  <img class="product" src="img/inventrip-interfaz.png" title="Inventrip logo" alt="Inventrip logo" />

  <div class="product">
		<!-- header with logo -->
		<div>
			<img class="product-logo" src="img/inventrip-logo.png"></img>
			<p class="product-title">{{inventrip}}</p>
    	<p class="product-eslogan">{{invTextA}}</p>
		</div>
		<!-- description -->
    <p class="texto product-text">{{invTextB}}</p>
		<!-- contact button -->
		<a class="action-button product-action" href="mailto:contacto@sismotur.com" title="contacto" alt="contacto">{{btnMuestra}}</a>
  </div>
</div>

<!-- ************************
********* SIGNING *********
************************* -->
<div class="separador">
	<p>{{dividerSigning}}</p>
</div>

<div class="seccion" id="signing">

	<!-- PC/tablet image -->
  <img class="product" src="img/signing-interfaz.png" title="Signing logo" alt="Signing logo" />

  <div class="product">
		<!-- header with logo -->
		<div>
			<img class="product-logo" src="img/inventrip-logo.png"></img>
			<p class="product-title">{{signingTitle}}</p>
    	<p class="product-eslogan">{{signingTextA}}</p>
		</div>
		<!-- description -->
    <p class="texto product-text">{{signingTextB}}</p>
		<!-- contact button -->
		<a class="action-button product-action" href="mailto:contacto@sismotur.com" title="contacto" alt="contacto">{{btnMuestra}}</a>
  </div>
</div>

<!-- ************************
********* TECNOLOGIAS *******
************************* -->
<div class="separador">
	<p>{{dividerTechnologies}}</p>
</div>

<div class="seccion" id="tecnologias">

    <div class="tecnol" id="senalizacion">
        <img class="img-tecnol" src="img/logosenal.png" title="Señalización" alt="Señalización" />
        <p class="titulo-tecnol">{{senalizacionTitle}}</p>
        <p class="texto t-tecno">{{senalizacionText}}</p>
        <button class="mas-info" onclick="window.open('senalizacion.html')">{{btnReferences}}</button>
    </div>

    <div class="tecnol" id="beacons">
        <img class="img-tecnol" src="img/logobeacon.png" title="Beacon" alt="Beacon" />
        <p class="titulo-tecnol">{{beacons}}</p>
        <p class="texto t-tecno">{{beaconText}}</p>
        <button class="mas-info" onclick="window.open('beacon.html')">{{btnReferences}}</button>
    </div>


    <div class="tecnol" id="comercializacion">
        <img class="img-tecnol" src="img/logo_ecommerce.png" title="e-Commerce" alt="e-Commerce" />
        <p class="titulo-tecnol">{{eCommerce}}</p>
        <p class="texto t-tecno">{{comercializacionText}}</p>
        <button class="mas-info" onclick="window.open('e_commerce.html')">{{btnReferences}}</button>
    </div>


    <div class="tecnol" id="nfc">
    	<img class="img-tecnol"  src="img/logonfc.png" title="NFC" alt="NFC" />
    	<p class="titulo-tecnol">{{nfc}}</p>
        <p class="texto t-tecno">{{nfcText}}</p>
        <button class="mas-info" onclick="window.open('nfc.html')">{{btnReferences}}</button>
    </div>

    <div class="tecnol" id="qr">
    	<img class="img-tecnol" src="img/logoqr.png" title="QR" alt="QR" />
    	<p class="titulo-tecnol">{{qr}}</p>
        <p class="texto t-tecno">{{qrText}}</p>
        <button class="mas-info" onclick="window.open('qr.html')">{{btnReferences}}</button>
    </div>

    <div class="tecnol" id="drontrip">
        <img class="img-tecnol" src="img/logodron.png" title="DronTrip" alt="DronTrip" />
        <p class="titulo-tecnol">{{dronTrip}}</p>
        <p class="texto t-tecno">{{dronText}}</p>
        <button class="mas-info" onclick="window.open('drontrip.html')">{{btnReferences}}</button>
    </div>

</div>

<!-- ************************
********* NOTICIAS **********
************************* -->
<div class="separador">
	<p>{{dividerNews}}</p>
</div>

<div class="seccion" id="noticias">

	<img id="img-noticias" src="img/news/news18.jpg" title="EFE Article about Inventrip and Sismotur" alt="EFE Article about Inventrip and Sismotur" />

  <div id="cont-noticias">
  	<p class="title" id="title-noticias">{{newsTitle18}}</p>
    <p class = "texto" id="text-noticias">{{newsContent18}}
    <br/><br/>
    </p>
		<button class="action-button" id="ver-mas-noticias" onclick="window.open('./news.html')" >{{moreNews}}</button>
  </div>
	<!-- <button class="ver-mas" onclick="alert('Work in progress: please come back in a few hours!')" >{{btnNewsClick}}</button> -->
</div>

<!-- ***************************
************ PARTNERS **********
************************* -->

<div class="seccion" id="staff">

<p class="title" id="title-staff">{{titlePartners}}</p>
	<div id="contenedor-staff">
  	<div class="content-staff" id="c-augusto"></div>
  	<div class="content-staff" id="c-manolo"></div>
    <a href="https://es.linkedin.com/in/juliojosejulian" target="_blank">
		<div class="content-staff" id="c-julio"></div></a>
    <a href="https://fr.linkedin.com/in/felipesanti" target="_blank">
		<div class="content-staff" id="c-felipe"></div></a>
  </div>
</div>

<!-- ***********************
********* CONTACTO *********
************************ -->

<div class="seccion" id="contacto">

    	<a id="contactanos" href="mailto:contacto@sismotur.com" title="contacto" alt="contacto">{{btnContact}}</a>

        <div id="rrss">

        	<a id="linkedin" href="https://www.linkedin.com/company/sismotur" title="Linkedin" alt="LinkedIn" target="_blank" ></a>
        	<a id="twitter" href="https://twitter.com/sismotur" title="Twitter" alt="Twitter" target="_blank"></a>
        	<a id="youtube" href="https://www.youtube.com/user/Inventrip" title="Youtube" alt="YouTube" target="_blank"></a>
       	 	<a id="github" href="https://github.com/sismotur" title="Github" alt="Github" target="_blank"></a>

        </div>



	<table id="lista-contacto">

 		<tr>
        	<td class="lista-pais">
        	   <p class="pais">{{cntSpain}}</p>
                <hr class="barra-pais" />
            	<p class="telefono">{{cntSpain2}}<br/>+34 913 238 208</p>
                <a class="email" href="mailto:aramos@sismotur.com">aramos@sismotur.com</a>
			</td>

  			<td class="lista-pais">
            	<p class="pais">{{cntFrance}}</p>
                <hr class="barra-pais" />
            	<p class="telefono">{{cntFrance2}}<br/>+33 (0) 619 203 061</p>
                <a class="email"
								href="mailto:fsanti@sismotur.com">fsanti@sismotur.com</a>
			</td>
        </tr>

    </table>

    <p id="copyright">{{copyright}}</p>

</div>
</body>
</html>
