<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html lang="es" ng-app="smtApp" ng-controller="languagesController">
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
<meta http-equiv="Content-Type" content="text/html ; charset=UTF-8" />
<title>Sismotur S.L.</title>

<meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0" />


<link rel="shortcut icon" href="img/favicon.png"/>
<link rel="stylesheet" href="./css/sismotur.css" />
<link rel="stylesheet" href="./css/responsive.css" />

		<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>

        <script src="js/jquery-1.11.1.js"></script>
    	<script src="js/jquery.browser.js"></script>
    	<script src="js/jquery.iframe-auto-height.js"></script>
    	<script src="js/lib/greensock/TweenMax.min.js"></script>
    	<script src="js/bootstrap.js"></script>
    	<script src="js/jquery.scrollmagic.js"></script>
    	<script src="js/jquery.scrollmagic.debug.js"></script>
    	<script src="js/sismotur.js"></script>
    	<script src="js/lib/greensock/TimelineMax.min.js"></script>
    	<script src="js/angular.js"></script>
    	<script src="js/smt-angular.js"></script>

        <script type="text/javascript" src="js/jquery.scrollTo.js"></script>

        <script type="text/javascript">
        $(document).ready(function($){
				if(!isMobile()){
					parallaxBanner();
					opaqueMenu();
					parallaxSection();

					$(".navbar-nav li a").click(function(event) {
						$(".navbar-collapse").collapse('hide');
					});
				}
			});
        </script>

<!-- GOOGLE ANALYTICS -->
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-65795037-1', 'auto');
  ga('send', 'pageview');
</script>

<!-- GOOGLE STRUCTURED DATA -->
<script type="application/ld+json">
{
  "@context": "http://schema.org",
  "@type": "Organization",
  "url":"http://www.sismotur.com",
  "name": "Sismotur",
  "description": "We work to promote and develop smart tourist destinations.",
  "address": {
    "@type": "PostalAddress",
    "addressLocality": "Madrid, Spain",
    "postalCode": "28033",
    "streetAddress": "Calle Arturo Soria 327"
  },
  "email": "aramos@sismotur.com",
  "telephone": "+34913238208",
  "logo":"http://www.sismotur.com/img/sismotur-logo-portada.png"
}
</script>

</head>



<body>

<header>

	<img id="logo" src="img/logomenu.png" title="Sismotur" alt="Sismotur"/>

	<nav id="menu">
    	<ul id="lista-menu">
        	<li><a class="menuRef" href="javascript:$.scrollTo('div.seccion#objetivos',1000)">{{mnObjet}}</a></li>
            <li><a class="menuRef" href="javascript:$.scrollTo('div.seccion#tecnologias',1000)">{{mnTecno}}</a></li>
            <li><a class="menuRef" href="javascript:$.scrollTo('div.seccion#inventrip',1000)">{{mnInven}}</a></li>
            <li><a class="menuRef" href="javascript:$.scrollTo('div.seccion#signing',1000)">{{mnSigni}}</a></li>
            <li><a class="menuRef" href="javascript:$.scrollTo('div.seccion#staff',1000)">{{mnTeam}}</a></li>
            <li><a class="menuRef" href="javascript:$.scrollTo('div.seccion#contacto',1000)">{{mnCont}}</a></li>

            <li id="lista-idiomas"> {{mnIdioma}} <img id="flechita" src="img/flechita.png" />
            	<ul id="menu-idiomas">
        			<li><a class="cambio-idioma" ng-click="changeLang('ca')">Catalá</a></li>
            		<li><a class="cambio-idioma" ng-click="changeLang('de')">Deutsch</a></li>
        			<li><a class="cambio-idioma" ng-click="changeLang('en')">English</a></li>
            		<li><a class="cambio-idioma" ng-click="changeLang('es')">Español</a></li>
            		<li><a class="cambio-idioma" ng-click="changeLang('fr')">Français</a></li>
                    <li><a class="cambio-idioma" ng-click="changeLang('hr')">Hrvatski</a></li>
        		</ul>
            </li>

        </ul>
    </nav>



</header>

<div id="parallaxTrigger">
<div class="seccion" id="portada">
<div id="fondo-azul"></div>
	<div id="logo-eslogan">
		<img id="logo-portada" src="img/sismotur-logo-portada.png" title="Sismotur S.L." alt="Sismotur S.L." />
    	<p id="eslogan">{{tittle1}}</p>
    	<button id="bajar" onclick="javascript:$.scrollTo('div.seccion#objetivos',1000)"></button>
	</div>
</div>

</div>
<div id="menuTrigger"></div>


<div class="separador" id="s-uno">{{resume1}}</div>


<div class="seccion" id="objetivos">

	<div class="contenedor">

		<div class="obj" id="obj-uno">
    		<p class="titulo">{{obj1Tittle}}</p>
        	<hr/>
            <br/>
        	<p class="texto">{{obj1Text}}</p>
    	</div>

   		<div class="obj" id="obj-dos">
    		<p class="titulo">{{obj2Tittle}}</p>
        	<hr/>
            <br/>
        	<p class="texto">{{obj2Text}}</p>
    	</div>

    	<div class="obj" id="obj-tres">
    		<p class="titulo">{{obj3Tittle}}</p>
        	<hr/>
            <br/>
        	<p class="texto">{{obj3Text}}</p>
    	</div>
     </div>

     	<div id="caso-exito">
        	<p id="ribera-duero">{{btnMoreInfo}}</p>
        	<button id="btn-ribera" onclick="window.open('http://www.youtube.com/embed/lVLSAYLhMfg')" >{{btnClick}}</button>
     	</div>

</div>


<div class="separador" id="s-dos">{{tecTittle}}</div>


<div class="seccion" id="tecnologias">


	<div class="tecnol" id="drontrip">
    	<img class="img-tecnol" src="img/logodron.png" title="DronTrip" alt="DronTrip" />
    	<p class="titulo-tecnol">{{dronTittle}}</p>
        <p class="texto t-tecno">{{dronText}}</p>
        <button class="mas-info" onclick="window.open('drontrip.html')">{{moreInfoShort}}</button>
    </div>

    <div class="tecnol" id="nfc">
    	<img class="img-tecnol"  src="img/logonfc.png" title="NFC" alt="NFC" />
    	<p class="titulo-tecnol">{{nfcTittle}}</p>
        <p class="texto t-tecno">{{nfcText}}</p>
        <button class="mas-info" onclick="window.open('nfc.html')">{{moreInfoShort}}</button>
    </div>

    <div class="tecnol" id="senalizacion">
    	<img class="img-tecnol" src="img/logosenal.png" title="Señalización" alt="Señalización" />
    	<p class="titulo-tecnol">{{senalizacionTittle}}</p>
        <p class="texto t-tecno">{{senalizacionText}}</p>
        <button class="mas-info" onclick="window.open('senalizacion.html')">{{moreInfoShort}}</button>
    </div>

    <div class="tecnol" id="qr">
    	<img class="img-tecnol" src="img/logoqr.png" title="QR" alt="QR" />
    	<p class="titulo-tecnol">{{qrTittle}}</p>
        <p class="texto t-tecno">{{qrText}}</p>
        <button class="mas-info" onclick="window.open('qr.html')">{{moreInfoShort}}</button>
    </div>

    <div class="tecnol" id="beacons">
    	<img class="img-tecnol" src="img/logobeacon.png" title="Beacon" alt="Beacon" />
    	<p class="titulo-tecnol">{{beaconTittle}}</p>
        <p class="texto t-tecno">{{beaconText}}</p>
        <button class="mas-info" onclick="window.open('beacon.html')">{{moreInfoShort}}</button>
    </div>

</div>


<div class="separador" id="s-tres">{{servTittle}}</div>


<div class="seccion" id="inventrip">
	<p class="titulo" id="tit-inventrip">{{invTittle}}</p>
    <img id="img-inventrip" src="img/inventrip-interfaz.png" title="Inventrip" alt="Inventrip" />

    <div class="contenido" id="cont-inventrip">
    <p id="eslogan-inventrip">{{invTextA}}</p>
    <p class="texto" id="text-inventrip">{{invTextB}}</p>
    <button class="ver-mas" onclick="window.open('http://inventrip.com/diputaciondepalencia/')" >{{btnInventrip}}</button>
    </div>

</div>


<div class="seccion" id="signing">
	<p class="titulo" id="tit-signing">{{sigTittle}}</p>
    <img id="img-signing" src="img/signing-interfaz.png" title="Signing" alt="Signing" />

    <div class="contenido" id="cont-signing">
    <p class="texto" id="text-signing">{{sigText}}</p>
    <button class="ver-mas" onclick="window.open('http://sismotur.net/barcelona/')">{{btnSigning}}</button>
    </div>

</div>


<div class="seccion" id="staff">

<p class="titulo" id="equipo">{{btnTitleTeam}}</p>

	<div id="contenedor-staff">

    	<div class="content-staff" id="c-augusto"></div>
        <div class="content-staff" id="c-manolo"></div>
        <a href="https://es.linkedin.com/in/juliojosejulian" target="_blank"><div class="content-staff" id="c-julio"></div></a>
        <a href="https://fr.linkedin.com/in/felipesanti" target="_blank"><div class="content-staff" id="c-felipe"></div></a>
        <div class="content-staff" id="c-josejuan"></div>
        <a href="https://www.linkedin.com/in/jljorro" target="_blank"><div class="content-staff" id="c-jorro"></div></a>
        <div class="content-staff" id="c-arantxa"></div>
        <div class="content-staff" id="c-andres"></div>
        <div class="content-staff" id="c-daniel"></div>

    </div>

</div>

<div class="seccion" id="contacto">

	<div id="sec-contacto">

    	<a id="contactanos" href="mailto:inventrip@sismotur.com" title="contacto" alt="contacto">{{btnContact}}</a>

        <div id="rrss">

        	<a id="linkedin" href="https://www.linkedin.com/company/sismotur" title="Linkedin" alt="LinkedIn" target="_blank" ></a>
        	<a id="twitter" href="https://twitter.com/sismotur" title="Twitter" alt="Twitter" target="_blank"></a>
        	<a id="youtube" href="https://www.youtube.com/user/Inventrip" title="Youtube" alt="YouTube" target="_blank"></a>
       	 	<a id="github" href="https://github.com/sismotur" title="Github" alt="Github" target="_blank"></a>

        </div>

    </div>

	<table id="lista-contacto">

 		<tr>
        	<td class="lista-pais">
        	<p class="pais">{{cntSpain}}</p>
            <hr class="barra-pais" />
        	<p class="telefono">{{cntSpain2}}<br/>+34 913 238 208</p>
			</td>

  			<td class="lista-pais">
        	<p class="pais">{{cntFrance}}</p>
            <hr class="barra-pais" />
        	<p class="telefono">{{cntFrance2}}<br/>+33 (0) 619 203 061</p>
			</td>

			<td class="lista-pais">
        	<p class="pais">{{cntCroatia}}</p>
            <hr class="barra-pais" />
        	<p class="telefono">{{cntCroatia2}}<br/>+38 516 187 750</p>
			</td>

        	<td class="lista-pais">
        	<p class="pais">{{cntAustria}}</p>
            <hr class="barra-pais" />
        	<p class="telefono">{{cntAustria2}}<br/>+43 699 111 436 11</p>
  			</td>

  			<td class="lista-pais">
        	<p class="pais">{{cntSuiza}}</p>
            <hr class="barra-pais" />
        	<p class="telefono">{{cntSuiza2}}<br/>+41 76 393 72 52</p>
 			</td>
       </tr>


    </table>

    <p id="copyright">{{copyright}}</p>

</div>
</body>
</html>


