<!DOCTYPE html>
<html lang="es" ng-app="smtApp" ng-controller="languagesController">
	<head>
		<meta charset="utf-8">

		<!-- Always force latest IE rendering engine (even in intranet) & Chrome Frame
		Remove this if you use the .htaccess -->
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
		<meta name="viewport" content="width=device-width, initial-scale=1">

		<title>Sismotur SL.</title>

		<link href="css/bootstrap.min.css" rel="stylesheet">
		<link href="css/sismotur.css" rel="stylesheet">	
        
        <link href="css/webfontkit-OpenSans/stylesheet.css" rel="stylesheet">
        <link href="css/webfontkit-PrimeLight/stylesheet.css" rel="stylesheet">
        <link href="css/webfontkit-PrimeRegular/stylesheet.css" rel="stylesheet">	  
    	
    	<script src="js/jquery-1.11.1.js"></script>
    	<script src="js/jquery.browser.js"></script>
    	<script src="js/jquery.iframe-auto-height.js"></script>
    	<script src="js/lib/greensock/TweenMax.min.js"></script>
    	<script src="js/bootstrap.min.js"></script>
    	<script src="js/jquery.scrollmagic.js"></script>
    	<script src="js/jquery.scrollmagic.debug.js"></script>
    	<script src="js/sismotur.js"></script>
    	<script src="js/lib/greensock/TimelineMax.min.js"></script>
    	<script src="js/angular.js"></script>
    	<script src="js/smt-angular.js"></script>
    	
    	<script>			
			$(document).ready(function($){
				if(!isMobile()){
					parallaxBanner();
					opaqueMenu();
					parallaxObjectives();
					parallaxTecnologic();
					parallaxTeam();
				}
			});
    	</script>		
	</head>

	<body>		
		<div class="container-fluid smt-cotainer-body">			
			<nav id="smt-menu" class="navbar" role="navigation">
  				<div class="container-fluid">
    				<!-- Brand and toggle get grouped for better mobile display -->
    				<div class="navbar-header">      
      					<button type="button" class="navbar-toggle collapsed smt-button-nav" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        					<span class="sr-only">Toggle navigation</span>
        					<span class="icon-bar"></span>
        					<span class="icon-bar"></span>
        					<span class="icon-bar"></span>
      					</button>
      					<a class="navbar-brand smt-logo-nav" href="#">
                        	<img class="smt-logo-menu" title="Sismotur" src="img/logomenu.png" />
                        </a>
    				</div>

    				<!-- Collect the nav links, forms, and other content for toggling -->
    				<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      					<ul class="nav navbar-nav navbar-right smt-nav-bar">
        					<!--<li class="active"><a href="#">Home <span class="sr-only">(current)</span></a></li>-->
        					<li><a class="menuRef" href="#objectives">{{mnObjet}}</a></li>
        					<li><a class="menuRef" href="#tecnologic">{{mnTecno}}</a></li>
        					<li><a class="menuRef" href="#inventrip">{{mnInven}}</a></li>
        					<li><a class="menuRef" href="#signing">{{mnSigni}}</a></li>
        					<li><a class="menuRef" href="#team">{{mnTeam}}</a></li>
        					<li><a class="menuRef" href="index.html">{{mnCont}}</a></li>        					
      					</ul>
    				</div><!-- /.navbar-collapse -->
  				</div><!-- /.container-fluid -->
			</nav>
			<div id="parallaxTrigger">
				<div id="smt-banner-par">				
				</div>  
				<div id="smt-banner-trans-par">				
				</div>
				<div id="smt-slogan-par">
                	<img id="logoPortada" title="" src="img/sismotur-logo-portada-uno.png" />
					<h1 class="tittleBanner">{{tittle1}}</h1>
				</div>			  
			</div>
			<div id="menuTrigger">				
			</div>
			<div class="row resume">
				<h1>{{resume1}}</h1>
			</div>
			<div id="obtectivesTrigger">				
			</div>
			
			<div id="objectives" class="container-fluid">
				<div id="objectiveContent" class="row smt-content">
					<div id="obj1" class="col-md-4 smt-content-col">
						<h2>{{obj1Tittle}}</h2>
						<p class="texto-obj">{{obj1Text}}</p>					
					</div>
					<div id="obj2" class="col-md-4 smt-content-col">
						<h2>{{obj2Tittle}}</h2>
						<p class="texto-obj">{{obj2Text}}</p>						
					</div>
					<div id="obj3" class="col-md-4 smt-content-col">
						<h2>{{obj3Tittle}}</h2>
						<p class="texto-obj">{{obj3Text}}</p>						
					</div>
				</div>
				<!--<div id="objectiveButton">
					<button>{{btnMoreInfo}}</button>
				</div>	-->			
			</div>
			<!--<div class="row video">
				<iframe src="//www.youtube.com/embed/lVLSAYLhMfg" frameborder="0" onload='javascript:resizeIframe(this);'>						
				</iframe>-->
			</div>
			<div class="row resume">
				<h1>{{resume1}}</h1>
			</div>
			
			<div id="tecnologicTrigger">				
			</div>
			
			<div id="tecnologic" class="container-fluid">
				<!--<div id="tecnologicTitle" class="row smt-content-title">
					<h1>{{tectTittle}}</h1>
				</div>-->
				
				<div id="tecnologicContent" class="row smt-content">
					<div class="col-md-4 smt-content-col">
						<img class="logoTecno" src="img/logosenal.png"/>
                        <h2>{{senalizacionTittle}}</h2>
                        <p class="texto-tecnol">{{senalizacionText}}</p>
						<div id="objectiveButton">
                        <br />
							<button onclick="window.open('tecnologia.html')">{{moreInfoShort}}</button>
						</div>
					</div>
					<div class="col-md-4 smt-content-col">
						<img class="logoTecno" src="img/logonfc.png"/>
                        <h2>{{nfcTittle}}</h2>
                        <p class="texto-tecnol">{{nfcText}}</p>
						<div id="objectiveButton">
                        <br />
							<button>{{moreInfoShort}}</button>
						</div>
					</div>
					<div class="col-md-4 smt-content-col">
						<img class="logoTecno" src="img/logobeacon.png"/>
                        <h2>{{beaconTittle}}</h2>
                        <p class="texto-tecnol">{{beaconText}}</p>
						<div id="objectiveButton">
                        <br />
							<button>{{moreInfoShort}}</button>
						</div>					
					</div>
				</div>
				<div id="tecnologicContent" class="row smt-content">
					<div class="col-md-2">						
					</div>
					<div class="col-md-4 smt-content-col">
						<img class="logoTecno" src="img/logoqr.png"/>
                        <h2>{{qrTittle}}</h2>
                        <p class="texto-tecnol">{{qrText}}</p>
						<div id="objectiveButton">
                        <br />
							<button>{{moreInfoShort}}</button>
						</div>					
					</div>
					<div class="col-md-4 smt-content-col">
						<img class="logoTecno" src="img/logodron.png"/>	
                        <h2>{{dronTittle}}</h2>
                        <p class="texto-tecnol">{{dronText}}</p>
						<div id="objectiveButton">
                        <br />
							<button>{{moreInfoShort}}</button>
						</div>					
					</div>
				</div>
			</div>

			<div class="row resume">
				<h1>{{resume1}}</h1>
			</div>
			

			<div id="inventrip" class="continer-fluid smt-service">
				<div class="row smt-service-tittle">
					<div class="col-md-3 col-md-offset-1">
						<h2>{{invTittle}}</h2>
					</div>
				</div>
				<div class="row smt-service-content">
					<div class="col-md-8 col-md-push-4 img-interface">
						<img src="img/inventrip-interfaz.png"/>
					</div>
					<div class="col-md-3 col-md-offset-1 col-md-pull-8">
						<p class="smt-servic-content-text">{{invText}}</p>
					</div>					
				</div>
				<div class="row smt-service-button">
					<div class="col-md-3 col-md-offset-1">
						<button>{{btnInventrip}}</button>
					</div>
				</div>
			</div>

			<div id="signing" class="continer-fluid smt-service">
				<div class="row smt-service-tittle">
					<div class="col-md-3 col-md-offset-8">
						<h2>{{sigTittle}}</h1>
					</div>
				</div>
				<div class="row smt-service-content">
					<div class="col-md-8 img-interface">
						<img id="signing-img" src="img/signing-interfaz.png"/>
					</div>
					<div class="col-md-3">
						<p class="smt-servic-content-text">{{sigText}}</p>
					</div>					
				</div>
				<div class="row smt-service-button">
					<div class="col-md-3 col-md-offset-8">
						<button>{{btnSigning}}</button>
					</div>
				</div>
			</div>


			<div id="team">
				<div id="team-tittle" class="row smt-content-title">
					<h1>Equipo</h1>
				</div>
				<div id="row1" class="row row-team">					
					<div class="col-md-4" class="content-image">	
						<div id="image1" class="image">
							
						</div>				
					</div>
					<div class="col-md-4" class="content-image">	
						<div id="image2" class="image">
							
						</div>				
					</div>
					<div class="col-md-4" class="content-image">	
						<div id="image3" class="image">
							
						</div>				
					</div>
				</div>
				
				<div id="row2" class="row row-team">
					<div class="col-md-4" class="content-image">	
						<div id="image4" class="image">
							
						</div>				
					</div>
					<div class="col-md-4" class="content-image">	
						<div id="image5" class="image">
							
						</div>				
					</div>
					<div class="col-md-4" class="content-image">	
						<div id="image6" class="image">
							
						</div>				
					</div>
				</div>
				
				<div id="row3" class="row row-team">
					<div class="col-md-4" class="content-image">	
						<div id="image7" class="image">
							
						</div>				
					</div>
					<div class="col-md-4" class="content-image">	
						<div id="image8" class="image">
							
						</div>				
					</div>
					<div class="col-md-4" class="content-image">	
						<div id="image9" class="image">
							
						</div>				
					</div>
				</div>
				
			</div>

			<footer id="contact" class="smt-footer">
				<div class="row smt-contact">
					<div class="col-md-4 smt-dir">
						<h3>{{cntSpain}}</h3>
						<p>{{cntSpain2}}</p>
						<p>{{cntSpainPhone}}</p>
					</div>
					<div class="col-md-4 smt-dir">
						<h3>{{cntFrance}}</h3>
						<p>{{cntFrance2}}</p>
						<p>{{cntFrancePhone}}</p>
					</div>
					<div class="col-md-4 smt-dir">
						<h3>{{cntCroatia}}</h3>
						<p>{{cntCroatia2}}</p>
						<p>{{cntCroatiaPhone}}</p>
					</div>
				</div>
				<div class="row smt-socialNetwork">
					<div id="btnLinkedin"></div>
					<div id="btnTwitter"></div>
					<div id="btnFacebook"></div>
				</div>
				<div class="row smt-button">
					<button id="b-contacto" type="button">{{btnContact}}</button>
				</div>
				<div class="row stm-copyright">
					<p>{{copyright}}</p>
				</div>
			</footer>		
		</div>
	</body>
</html>